openapi: 3.0.0
info:
  title: Auth Service API
  version: 1.0.0
  description: Authentication and Authorization service for the E-commerce system
servers:
  - url: http://localhost:5000/auth
    description: API Gateway (Use this to test Routing & JWT)
  - url: http://localhost:5001
    description: Direct Auth Service
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
paths:
  /register:
    post:
      summary: Register a new user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  default: user
      responses:
        '201':
          description: User registered successfully
  /login:
    post:
      summary: Login to get a JWT token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful